/common/target

/engine/target

/parent/target
/service/target
/test/target
/web/target

/parent/bin

/service/target
/common/.settings
/common/.classpath
/engine/.settings
/engine/.classpath
/parent/.settings
/parent/.classpath
/service/.settings
/service/.classpath
/test/.settings
/test/.classpath
/web/.settings
/web/.classpath

*.class
*.prefs